<h1>Person and car</h1>
<table class="table">
  <thead>
    <tr>
      <th>Person's name</th>
      <th>Car</th>
    </tr>
  </thead>
  <tbody>
    <% @persons.each do |person| %>
      <% person.cars.each do |car| %>
        <tr>
          <td><%= person.name %></td>
          <td><%= car.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h1>Person and number of car</h1>
<table class="table">
  <thead>
    <tr>
      <th>Person's name</th>
      <th>Number of cars owned</th>
    </tr>
  </thead>
  <tbody>
    <% @persons.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.cars.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
